In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Tauktae.csv")
df.head()

     Date   Time                             Type  Wind  Pressure
0  May 19  06:00                Low Pressure Area    55       NaN
1  May 18  18:00                Low Pressure Area    95       NaN
2  May 18  06:00                Low Pressure Area   150       NaN
3  May 17  18:00  Extremely Severe Cyclonic Storm   205     942.0
4  May 17  12:00  Extremely Severe Cyclonic Storm   205     949.0

In [ ]:
df["Datetime"] = pd.to_datetime(df["Date"] + " " + df["Time"], errors="coerce")
df.drop(["Date", "Time"], axis=1, inplace=True)

In [ ]:
df["Pressure"] = df["Pressure"].fillna(method="ffill")

In [ ]:
df = df.sort_values(by="Datetime").reset_index(drop=True)

In [3]:
df.head()

     Date   Time                             Type  Wind  Pressure
0  May 19  06:00                Low Pressure Area    55       NaN
1  May 18  18:00                Low Pressure Area    95       NaN
2  May 18  06:00                Low Pressure Area   150       NaN
3  May 17  18:00  Extremely Severe Cyclonic Storm   205     942.0
4  May 17  12:00  Extremely Severe Cyclonic Storm   205     949.0

In [4]:
df.to_csv("Tauktae_cleaned.csv", index=False)
print("✅ Cleaned dataset saved as Tauktae_cleaned.csv")

✅ Cleaned dataset saved as Tauktae_cleaned.csv